@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dotted-border {
  border: 4px dotted transparent; /* Set default border as dotted and transparent */
  border-image: radial-gradient(circle, #b3bebe 3px, transparent 6px) 1;
}

.Toastify__toast {
  height: 56px;
  min-height: 56px !important;
}
